.header {
    /* Use variables to place the mobile menu properly */
    --padding-top-navbar: 24px;
    --padding-bottom-navbar: 24px;
    --header-side-padding: 20px;
    --nav-height: 48px;
    padding: var(--padding-top-navbar) var(--header-side-padding) var(--padding-bottom-navbar);

    border-bottom: 1px solid transparent;
    transition: padding .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    height: var(--nav-height);
    width: 1125px;
    max-width: 95%;
    margin: 0 auto;

    white-space: nowrap;
}


/* humburger menu button */
.header__menu-btn {
    display: none;
}


/* site logo */
.header__logo-link {
    width: 148px;
    transition: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header__logo-link:hover {
    opacity: .6;
}

.header__logo-img {
    min-width: 135px;
    max-width: 148px;
}


/* Menu-Links container */
.header__wrapper-menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
}

.header__links__item {
    transition: .3s;
}

.header__links__item:hover {
    color: var(--color-green);
    text-decoration: underline;
}

.header__links__item--active,
.header__links__item--active:hover {
    color: var(--color-green-light);
    font-weight: 600;
    text-decoration: underline;
}


/* Connection buttons */
.header__wrapper-connections-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.header__connection-btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 14px;
    border: 2px solid transparent;
    transition: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header__connection-btn--login {
    border-color: var(--color-gray);
}

.header__connection-btn--login:is(:hover, :active, :focus) {
    background-color: var(--color-gray);
    color: #fff;
}

.header__connection-btn--login:is(:active, :focus) {
    border-color: var(--default-text-color);
}

.header__connection-btn--signup {
    color: #fff;
    background-color: var(--color-green);
}

.header__connection-btn--signup:is(:hover, :active, :focus) {
    border-color: var(--color-green);
    background-color: #fff;
    color: var(--default-text-color);
}

.header__connection-btn--signup:is(:active, :focus) {
    color: var(--color-green);
}


/* Login and sign-up buttons (icons) for small screens */
.header__wrapper-connections-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    display: none;
}

/* Sign-Up icon */
.bx-user-plus {
    color: var(--color-green);
}


/*  =============== Mobile menu =============== */
.header__mobile-menu {
    /* To place the mobile menu just below the bottom border of the header */
    position: absolute;
    --header-height: calc(var(--padding-top-navbar) + var(--padding-bottom-navbar) + var(--nav-height));
    top: calc(var(--header-height) + 1px);
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: var(--header-side-padding);
    padding-left: calc(var(--header-side-padding) + 6px);

    background-color: #fff;
    transition: left .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    z-index: 10;

    /* To show mobile menu with animation */
    left: -100%;
}

.header__wrapper-menu-links--mobile {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    row-gap: 24px;
}

.header__wrapper-connections-btn--mobile {
    justify-content: start;
    align-items: flex-start;

    /* Will only be displayed when the connection 
    buttons on desktop-menu are hidden (width <= 468px) */
    display: none;
}

/* To show mobile menu with animation (left to right) */
.header__mobile-menu--active {
    left: 0;
}


/* =============== Responsive =============== */
@media screen and (max-width: 890px) {

    /* Hide menu-links (desktop) */
    .header__wrapper-menu-links {
        display: none;
    }

    /* Show mobile menu-links */
    .header__wrapper-menu-links--mobile {
        display: flex;
    }

    /* Show the humburger menu button */
    .header__menu-btn {
        display: block;
    }

    /* Place the border-bottom to navbar to improve 
    the design with the mobile menu displayed */
    .header {
        border-bottom-color: var(--color-gray);
    }

    /* Fix the max-width of Navbar to 100% so that the site
    logo is vertically aligned on the left with the links item */
    .header__navbar {
        max-width: 100%;
    }
}

@media screen and (max-width: 468px) {

    /* Hide the Wrapper of login and sign-up buttons (desktop) */
    .header__wrapper-connections-btn {
        display: none;
    }

    /* Show the login and sign-up icons */
    .header__wrapper-connections-icons {
        display: flex;
    }

    /* Show login and sign-up buttons on mobile-menu */
    .header__wrapper-connections-btn--mobile {
        display: flex;
        flex-wrap: wrap;
    }

    /* and increases the width of these buttons */
    .header__connection-btn {
        min-width: 94px;
        flex: 1;
        text-align: center;
    }

    /* Reduces header paddings */
    .header {
        --padding-top-navbar: 4px;
        --padding-bottom-navbar: 0px;
        --header-side-padding: 16px;
    }

}

@media screen and (max-width: 368px) {

    /* Hide the login and sign-up icons*/
    .header__wrapper-connections-icons {
        display: none;
    }

    /* Center the site logo */
    .header__logo-link {
        flex: 1;
        text-align: center;
    }

    .header__navbar {
        gap: 12px;
    }
}